@tailwind base;
@tailwind components;
@tailwind utilities;
@import "daisyui";

/* Do not change this */
html,
body {
	background-color: white;
	color: black;
	min-height: 100vh;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
}

main {
	height: 100%;
	min-height: 100vh;
	display: flex !important;
	flex-direction: column;
}

/* Search bar style */
input#query {
	width: 100%;
	flex: 1 1 0%;
}

/* Breadcrumbs style */
ul.breadcrumbs,
ol.breadcrumbs {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 8px;
	font-size: 12px;
}

ul.breadcrumbs > li > a:hover,
ol.breadcrumbs > li > a:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

ul.breadcrumbs > li::after,
ol.breadcrumbs > li::after {
	content: ">";
	margin-left: 4px;
}

ul.breadcrumbs > li:last-child:after,
ol.breadcrumbs > li:last-child:after {
	content: "";
}

/* Sidebar Style */
section.related-articles > h2.related-articles-title {
	display: none;
}

section.related-articles > ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 8px;
}

section.related-articles > ul > li > a:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

/* Forms */
.form {
	max-width: 650px;
}

.form-field ~ .form-field {
	margin-top: 25px;
}

.form-field label {
	display: block;
	font-size: 13px;
	margin-bottom: 5px;
	color: #000;
}

.form-field input {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
	width: 100%;
	background-color: white;
	font-size: 14px;
}

.form-field input:focus {
	border: 1px solid black;
}

.form-field input[type="text"] {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.form-field input[type="text"]:focus,
.form-field textarea:focus {
	border: 1px solid black;
}

.form-field input[type="checkbox"] {
	width: auto;
}

.form-field .nesty-input {
	border-radius: 4px;
	height: 40px;
	line-height: 40px;
	outline: none;
	vertical-align: middle;
}

.form-field .nesty-input:focus {
	border: 1px solid black;
	text-decoration: none;
}

.form-field .hc-multiselect-toggle:focus {
	outline: none;
	border: 1px solid black;
	text-decoration: none;
}

.form-field textarea {
	vertical-align: middle;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
	min-height: 100px;
	padding: 4px;
	font-size: 14px;
}

.form-field p#request_description_hint {
	display: none;
}

form footer input[type="submit"] {
	width: 100%;
	margin-top: 16px;
	border-radius: 4px;
	background-color: #07f468;
	color: #1a1c19;
	padding: 8px 12px;
	cursor: pointer;
}

.form-field input[type="checkbox"] + label {
	margin: 0 0 0 10px;
}

.form-field .optional {
	color: lighten(#000, 20%);
	margin-left: 4px;
}

.form-field p {
	color: lighten(#000, 20%);
	font-size: 12px;
	margin: 5px 0;
}

.form footer {
	margin-top: 40px;
	padding-top: 30px;
}

.form footer a {
	color: lighten(#000, 20%);
	cursor: pointer;
	margin-right: 15px;
}

.form .suggestion-list {
	font-size: 13px;
	margin-top: 30px;
}

.form .suggestion-list label {
	border-bottom: 1px solid #ddd;
	display: block;
	padding-bottom: 5px;
}

.form .suggestion-list li {
	padding: 10px 0;
}

.form .suggestion-list li a:visited {
	color: lightblue;
}

/* Article Content */
.collapse-content p img {
	margin: 0 auto;
}

#article-content p {
	background-color: transparent;
}

/* Marquee */
.marquee {
	--gap: 1rem;
	display: flex;
	overflow: hidden;
	user-select: none;
	gap: var(--gap);
}

.marquee__content {
	flex-shrink: 0;
	display: flex;
	justify-content: space-around;
	min-width: 100%;
	gap: var(--gap);
	animation: scroll 20s linear infinite;
}

@keyframes scroll {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-100% - var(--gap)));
	}
}
