<footer
	class="w-full bg-gradient-to-r from-fc-green to-fc-dark-green text-base-content px-4 py-10"
>
	<section class="footer max-w-7xl mx-auto">
		<aside>
			{{#link "help_center"}}
				<img src="{{settings.logo}}" alt="Logo" class="w-[150px]" />
			{{/link}}
		</aside>
		<nav
			class="text-fc-dark flex flex-col md:items-end md:justify-end md:place-self-end md:self-center"
		>
			<a href="#" class="link link-hover text-white">Terms and Conditions</a>
			<a href="#" class="link link-hover text-white">Privacy Policy</a>
		</nav>
	</section>
</footer>